spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/atm_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  liquibase:
    change-log: classpath:/db/changelog/liquibase-changelog.sql
    enabled: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    liquibase: DEBUG
    org.springframework: INFO

server:
  port: ${PORT:8080}